<!DOCTYPE html>
<html> 
<head>
    <title>BS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-route.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/Controllers/BS-Menu.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <style>
        table, td, th {
            border: 1px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 15px;
        }

        input {
            width: 100px;
        }
    </style>
    <link rel="stylesheet" href="light.css" type="text/css" media="screen" />
    <script type="text/javascript" src="js/jquery-1.4.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/jquery.lavalamp.min.js"></script>
    <script type="text/javascript" src="js/myriad.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#one,#two,#three,#four,#five,#six,#seven,#eight").lavaLamp({
                fx: "backout",
                speed: 700
            });
        });



    </script>

</head>

<body ng-app="BS">

    <!--All-->
    <div>
        <!--1-->
        <header class="en">
            <div class="head">

                <div class="language" style="float:right;">
                    <ul class="tab-group" style="margin-right:20px; margin-top:10px;">
                        <li>|</li>
                        <li><a data-toggle="tab" href="#en_menu">English</a></li>
                        <li>  |  </li>
                        <li class="=active"><a data-toggle="tab" href="#ar_menu" style="font-family:NeoSansArabic;">عربي</a></li>
                        <li>  <img ng-src="/images/language.png" alt="" style="width:35px; height:35px;" /></li>

                    </ul>
                </div>
            </div>
        </header>


        <!--Ar+En-->
        <div class="form">
            <div class="tab-content">
                <!--En-->
                <div id="en_menu" class="tab-pane fade">
                    <header class="en">
                        <div class="head">
                            <div class="my_account" style="float:right; margin-top:7px; margin-right:-30px; margin-top:15px;"><a href="#">My account</a></div>
                        </div>
                        <div class="head">
                            <div class="my_account" style="float:right; margin-top:7px; margin-right:5px; margin-top:15px;"><a ng-click="Logout()" href="#">
    <i class="fa fa-sign-out" style="font-size:20px"></i></a></div>
                        </div>

                        <!--2-->
                        <div class="logo" style="position:center;"><img ng-src="/images/bulding-logoo.png" style="height:180px; width:180px; margin-top:20px; margin-left:550px;" /></div>
                    </header>
                    <!--3-->
                    <header>

                        <div class="lightmenu">
                            <ul class="lightBlue" id="one">
                                <li class="current"><a href="/BS-MenuTabs/DevelopmentEnvironment">Development Environment</a></li>
                                <li><a href="/Template">Template</a></li>
                                <li><a href="/Products">Products</a></li>
                                <li><a href="/ManageStore">Manage Store</a></li>

                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                        Preview Website<b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li style="background:none;"><a href="#">Desktop view &nbsp; <img ng-src="/images/imac.png" alt="" style="width:37px; height:37px;" /></a></li>
                                        <li class="divider"></li>
                                        <li style="background:none;"><a href="#">Mobile view &nbsp; <img ng-src="/images/iphone.png" alt="" style="width:37px; height:37px;" /></a></li>
                                    </ul>
                                </li>

                            </ul>
                            <ul>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                        <img ng-src="/images/settings.png" alt="" style="width:37px; height:37px; margin-top:12px; margin-left:15px;" /><b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li style="background:none;"><a href="#">Publish website</a></li>
                                        <li class="divider"></li>
                                        <li style="background:none;"><a href="#">Unpublish website</a></li>
                                        <li class="divider"></li>
                                        <li style="background:none;"><a href="#">Delete website</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </header>

                    <!--Content-->
                    <div class="col-sm-8" style="width:inherit; float:left;">
                        <ng-view></ng-view>
                    </div>
                    <!--/Content-->
                </div>


                <!--Ar-->
                <div id="ar_menu" class="tab-pane fade in active">
                    <header class="en">
                        <div class="head">
                            <div class="my_account" style="float:right; font-family:'NeoSansArabic'; margin-top:7px; margin-right:-30px; margin-top:15px;"><a href="#">حسابي</a></div>
                        </div>
                        <div class="head">
                            <div class="my_account" style="float:right; margin-top:7px; margin-right:5px; margin-top:15px;">
                                <a ng-click="Logout()" href="#">
                                    <i class="fa fa-sign-out" style="font-size:20px"></i>
                                </a>
                            </div>
                        </div>

                        <!--2-->
                        <div class="logo" style="position:center;"><img ng-src="/images/logo-arabi.png" style="height:180px; width:180px; margin-top:20px; margin-left:550px;" /></div>
                    </header>
                    <!--3-->
                    <header>

                        <div class="lightmenu">


                            <ul>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                        <img ng-src="/images/settings.png" alt="" style="width:37px; height:37px; top:15px; margin-top:12px; margin-left:15px;" /><b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li style="background:none; font-family:'NeoSansArabic'"><a href="#">نشر الموقع</a></li>
                                        <li class="divider"></li>
                                        <li style="background:none; font-family:'NeoSansArabic'"><a href="#">إلغاء نشر الموقع</a></li>
                                        <li class="divider"></li>
                                        <li style="background:none; font-family:'NeoSansArabic'"><a href="#">حذف الموقع</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="lightBlue" id="one">

                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="font-family:'NeoSansArabic'">
                                        معاينة الموقع<b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li style="background:none; font-family:'NeoSansArabic'"><a href="#">معاينة على الحاسب &nbsp; <img ng-src="/images/imac.png" alt="" style="width:37px; height:37px;" /></a></li>
                                        <li class="divider"></li>
                                        <li style="background:none; font-family:'NeoSansArabic'"><a href="#">معاينة على الجوال &nbsp; <img ng-src="/images/iphone.png" alt="" style="width:37px; height:37px;" /></a></li>
                                    </ul>
                                </li>
                                <li><a href="/ManageStore" style="font-family:'NeoSansArabic'">إدارة المتجر</a></li>
                                <li><a href="/Products" style="font-family:'NeoSansArabic'">المنتجات</a></li>
                                <li><a href="/Template" style="font-family:'NeoSansArabic'">القالب</a></li>
                                <li class="current"><a href="/BS-MenuTabs/DevelopmentEnvironment" style="font-family:'NeoSansArabic'">بيئة العمل</a></li>

                            </ul>



                        </div>
                    </header>

                    <!--Content-->
                    <div class="row justify-content-center" style="width:100%;">
                        <ng-view></ng-view>
                    </div>
                    <!--/Content-->
                </div>


            </div>
        </div>
    </div>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="/Scripts/angular-animate.min.js"></script>
    <script src="/Scripts/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="/Scripts/angular-material.min.js"></script>
</body>
</html>
