<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.Material" version="1.1.7" targetFramework="net40" />
  <package id="AngularJS.Animate" version="1.6.4" targetFramework="net40" />
  <package id="AngularJS.Aria" version="1.6.4" targetFramework="net40" />
  <package id="AngularJS.Core" version="1.6.8" targetFramework="net40" />
  <package id="Cloudinary" version="0.0.5" targetFramework="net40" />
  <package id="CloudinaryDotNet" version="1.2.0" targetFramework="net40" />
</packages>