<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    
      <webServices>
      <protocols>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
  
  </system.web>
  
  <connectionStrings>
    <add name="DB" connectionString="server=LAPTOP-8L0JMFCA\SQLEXPRESS;database=sampleDB;integrated security=true"/>
  </connectionStrings>

</configuration>