<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    
      <webServices>
      <protocols>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
  
  </system.web>
	<system.webServer>
	<rewrite>
	<rules>
		<rule name="RewriteRules" stopProcessing="true">
			<match url=".*" />
			<conditions logicalGrouping="MatchAll">
				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
				<add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
			</conditions>
			<action type="Rewrite" url="/index.html" />
		</rule>
	</rules>
	</rewrite>
	</system.webServer>

	<connectionStrings>
    <add name="DB" connectionString="server=LAPTOP-EQECHMBS\SQLEXPRESS;database=buildingStation4;integrated security=true;MultipleActiveResultSets=True;"/>
  </connectionStrings>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483647"/>
			</webServices>
		</scripting>
	</system.web.extensions>
</configuration>
<!--EQECHMBS-->
<!--8L0JMFCA-->
<!--server=TOSHIBA\GPSQL;-->