 <!-- Header -->
<header style="padding-bottom:0%;">
    <img src="/images/en_3.png" style="width:100%" class="desaturate" />
    <h1 style="font-size:1.5em;">What is your business account username on Instagram ?</h1>
</header>

<!-- Main content area -->
<form name="myform">
    <main>
        <input name="myUsername" type="text" style="width:95%;" ng-model="search" ng-model-options="{ debounce: 800 }" onclick="select()" placeholder="Enter your full username on Instagram" required/>
        <span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>
        <span class="asterisk_input"></span>
        <p style="font-size:0.7em; font-weight: bold; text-shadow: 2px 2px 8px white; color: darkred;" ng-show="!search && myform.myUsername.$touched">* This field is required or you can skip </p>
        <div style="display:inline; overflow: auto; white-space: nowrap; padding: 0px 0px;">
            <a style="padding-left:150%; float: right; font-size:25px; padding: 0.4cm 0.4cm 0.4cm 0.4cm; border-radius: 20%;" href="3.2" class="button button-large"> Skip &#62;&#62;</a>
            <br />
        </div> <br />
        <div ng-if="search" >
        <p style="font-size:0.8em; color:white; text-decoration:underline;">We will use the following info in your store:</p>
        <div style=" text-align: center;">
            <p><strong>bio :</strong> {{details.graphql.user.biography}}</p>
            <p><strong>name :</strong> {{details.graphql.user.full_name}}</p>
            <img ng-src="{{details.graphql.user.profile_pic_url}}" class="thumbnail animated flip movie-poster">
        </div>
            </div>
    </main>

    <br>

    <div style="display:inline; overflow: auto; white-space: nowrap; padding: 0px 0px; margin-top:2%">
        <a style="float: left; font-size:5vw; padding: 0.5cm 0.6cm 0.5cm 0.4cm;" href="2" class="button button-large" data-toggle="tooltip" data-placement="right" title="Previous">&#10094;</a>
        <button ng-disabled="!search" ng-click="savedata(search, details.graphql.user.biography, details.graphql.user.full_name); getColors()" style="float: right; font-size:5vw; padding: 0.5cm 0.5cm 0.5cm 0.5cm;" href="7" class="button button-large" data-toggle="tooltip" data-placement="left" title="Next">&#10095;</button>
    </div>
    </form>
    <!-- Footer -->
    <footer>
        <!-- F   <p>Free Web Template from <a href="https://zypopwebtemplates.com/">ZyPop</a>.</p>-->
    </footer>
