 <!-- Header -->
<header style="padding-bottom:0%;">
    <h2 style="text-align: center; line-height: 0.2; font-size:35px;"><strong>Use the colors picked from your logo</strong></h2>
    <p style="text-align: center; line-height: 0; font-size:20px">or click on a color to change it</p>
</header>

<!-- Main content area -->
<main style="text-align:center;">
    <input type="color" class="rounded" ng-model="Colors.Color1" style="
  padding: 0;
  border: none;
  -webkit-border-radius: 50%;
  width: 4vw;
  height: 4vw;
  background-color:transparent;">
    <input type="color" class="rounded" ng-model="Colors.Color2" style="
  padding: 0;
  border: none;
  -webkit-border-radius: 50%;
  width: 4vw;
  height: 4vw;
  background-color:transparent;">
    <input type="color" class="rounded" ng-model="Colors.Color3" style="
  padding: 0;
  border: none;
  -webkit-border-radius: 50%;
  width: 4vw;
  height: 4vw;
  background-color:transparent;">
    <input type="color" class="rounded" ng-model="Colors.Color4" style="
  padding: 0;
  border: none;
  -webkit-border-radius: 50%;
  width: 4vw;
  height: 4vw;
  background-color:transparent;">
</main>

<div style="display:inline; overflow: auto;
                white-space: nowrap; padding: 0px 0px;">
    <a style="float: right; font-size:100px;  padding: 0cm 0.5cm 0.5cm 0.45cm; border-radius: 50%;" href="9" class="button button-large" ng-click="UpdateColors()" data-toggle="tooltip" data-placement="right" title="Next">&#8250;</a>
    <a style="float: left; font-size:100px; padding: 0cm 0.5cm 0.5cm 0.45cm; border-radius: 50%;" href="7" class="button button-large" data-toggle="tooltip" data-placement="left" title="Previous">&#8249;</a>
</div>

<!-- Footer -->
<footer>
    <!-- F   <p>Free Web Template from <a href="https://zypopwebtemplates.com/">ZyPop</a>.</p>-->
</footer>