 <!-- Header -->
<header style="padding-bottom:0%;">
    <img src="/images/en_6.png" style="width:100%" class="desaturate" />
    <h1 style="font-size:1.5em; text-align:center;">Use the colors picked from your logo</h1>
        <p style="text-align: center; line-height: 0; font-size:20px">or click on a color to change it</p>
</header>

<!-- Main content area -->
<main style="text-align:center;">
    <input type="color" class="rounded" ng-model="Colors.Color1" style="
  padding: 0;
  border: none;
  -webkit-border-radius: 50%;
  width: 4vw;
  height: 4vw;
  background-color:transparent;">
    <input type="color" class="rounded" ng-model="Colors.Color2" style="
  padding: 0;
  border: none;
  -webkit-border-radius: 50%;
  width: 4vw;
  height: 4vw;
  background-color:transparent;">
    <input type="color" class="rounded" ng-model="Colors.Color3" style="
  padding: 0;
  border: none;
  -webkit-border-radius: 50%;
  width: 4vw;
  height: 4vw;
  background-color:transparent;">
    <input type="color" class="rounded" ng-model="Colors.Color4" style="
  padding: 0;
  border: none;
  -webkit-border-radius: 50%;
  width: 4vw;
  height: 4vw;
  background-color:transparent;">
</main>

<div style="display:inline; overflow: auto;
                white-space: nowrap; padding: 0px 0px;">
    <a style="float: right; font-size:5vw; padding: 0.5cm 0.6cm 0.5cm 0.4cm;" href="9" class="button button-large" ng-click="UpdateColors()" data-toggle="tooltip" data-placement="right" title="Next">&#10095;</a>
    <a style="float: left; font-size:5vw; padding: 0.5cm 0.5cm 0.5cm 0.5cm;"  href="7" class="button button-large" data-toggle="tooltip" data-placement="left" title="Previous">&#10094;</a>
</div>

<!-- Footer -->
<footer>
    <!-- F   <p>Free Web Template from <a href="https://zypopwebtemplates.com/">ZyPop</a>.</p>-->
</footer>