 <!-- Header -->
<header style="padding-bottom:0%;">
    <img src="/images/ar_4.png" style="width:100%" class="desaturate" />
    <h1 style="font-size:1.5em; font-family:'NeoSansArabic'; ">معلومات المتجر</h1>
</header>

<!-- Main content area -->
<form name="myform">
    <main>
        أين يقع مشروعك<br />
        <input type="text" name="myAddress" ng-model="Address" style="width:95%;" placeholder="  مثال: الرياض  " required />
        <span class="asterisk_input"></span>
        <p style="font-size:0.7em; font-weight: bold; text-shadow: 2px 2px 8px white; color: darkred;" ng-show="myform.myAddress.$invalid"> *هذا الحقل مطلوب  </p>
        <br style="line-height:7px;" /> <hr /> <br style="line-height:7px;" />
        <!--   <div style="width:100%; display:inline; overflow: auto;white-space: nowrap; padding: 0px 0px;">-->
        ضع رابطا لمتجرك على مواقع التواصل الاجتماعي <br />
        <div style="text-align:left">
            <img src="../images/snapchat (2).png" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; width: 35px; height:auto;  text-align: center;" />
            <input type="text" ng-model="snapchatLink" style="margin-bottom:1vw; width:85%;" />
        </div>
        <div style="text-align:left">
            <img src="../images/twitter (2).png" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; width: 35px; height:auto;  text-align: center;" />
            <input type="text" ng-model="twitterLink" style="margin-bottom:1vw; width:85%;" />
        </div>
        <div style="text-align:left">
            <img src="../images/facebook (2).png" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; width: 35px; height:auto;  text-align: center;" />
            <input type="text" ng-model="facebookLink" style="margin-bottom:1vw; width:85%;" />
        </div>
        <div style="text-align:left">
            <img src="../images/insta.png" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; width: 35px; height:auto;  text-align: center;" />
            <input type="text" ng-model="instagramLink" style="margin-bottom:1vw; width:85%;" />
        </div>

        <!-- <a style="font-size:50px;  padding: 0.3cm 0.3cm 0.25cm 0.3cm; border-radius: 50%;" ng-click="addNewLink()" class="button button-large" data-placement="left" title="اضف رابط اخر">&#43;</a>
        <div id="choicesDisplay">
        </div>
    </div>-->
        <p style="font-size:0.7em; font-weight: bold; text-shadow: 2px 2px 8px white; color: darkred;"> يجب أن يكون الرابط صحيحاً </p>
    </main>
    <br />
    <div style="display:inline; overflow: auto;white-space: nowrap; padding: 0px 0px;">
        <button ng-disabled="myform.myAddress.$invalid" style="float: left; font-size:5vw; padding: 0.5cm 0.5cm 0.5cm 0.5cm;" class="button button-large" ng-click="sendData()" data-toggle="tooltip" data-placement="right" title="التالي">&#10095;</button>
        <a style="float: right; font-size:5vw; padding: 0.5cm 0.6cm 0.5cm 0.4cm;" href="3.1a" class="button button-large" data-toggle="tooltip" data-placement="left" title="السابق">&#10094;</a>
    </div>
</form>
<br/>
<!-- Footer -->
<footer>
</footer>