<!-- Header -->
<header style="padding-bottom:0%;">
    <h2 style="line-height: 0.9; font-size:40px;"><strong>ما نوع المتجر الذي تريده؟</strong></h2>
</header>
<!-- Main content area -->
<form name="myform">
    <main>
        <input id="Type" type="text" name="Type" ng-model="Type" ng-change="checkContent()" ng-keyup="complete(Type)" placeholder="  مثال: ملابس  " style="width:98%;" required />
        <span class="asterisk_input">  </span>
        <p style="font-size:x-small; margin-top:0px; padding-top:0px; color: darkred;" ng-show="myform.myName.$invalid"> هذا الحقل مطلوب  </p>
        <ul style="list-style: none;" ng-model="hidethis" ng-hide="hidethis || myform.Type.$invalid">
            <li class="list-group-item" ng-repeat="Typedata in filterType" ng-click="fillTextbox(Typedata)" style="width:100%;">{{Typedata}}</li>
        </ul>    <br /> <br />

    </main>

    <div style="display:inline; overflow: auto;
                white-space: nowrap; padding: 0px 0px;">

        <button ng-disabled="myform.Type.$invalid" style="float: left; font-size:100px;  padding: 0cm 0.5cm 0.5cm 0.45cm; border-radius: 50%;" href="3.1a" class="button button-large" ng-click="sendType()" data-toggle="tooltip" data-placement="right" title="التالي">&#8250;</button>
        <a style="float: right; font-size:100px; padding: 0cm 0.5cm 0.5cm 0.45cm; border-radius: 50%;" href="1a" class="button button-large" data-toggle="tooltip" data-placement="left" title="السابق">&#8249;</a>
    </div>
    </form>
    <!-- Footer -->
    <footer>
        <!-- F   <p>Free Web Template from <a href="https://zypopwebtemplates.com/">ZyPop</a>.</p>-->
    </footer>
