<!-- Header -->
<header style="padding-bottom:0%;">
    <img src="/images/en_11.png" style="width:100%" class="desaturate"/>
    <h1 style="font-size:1.5em;">What's your store name ?</h1>
</header>
<!-- Main content area -->
<form name="myform">
    <main>
        <input name="myName" type="text" ng-model="storeName" placeholder=" Example: The warm crochet" style="width:95%;" required />
        <span class="asterisk_input"></span>
        <p style="font-size:0.7em; font-weight: bold; text-shadow: 2px 2px 8px white;  color: darkred;" ng-show="myform.myName.$invalid">* This field is required  </p>

    </main>
    <div style="display:inline; overflow: auto; white-space: nowrap; padding: 0px 0px; margin-top:2%">
        <button ng-disabled="myform.myName.$invalid" style="float: right; font-size:5vw; padding: 0.5cm 0.5cm 0.5cm 0.5cm;" href="2" class="button button-large" ng-click="sendName()" data-toggle="tooltip" data-placement="right" title="Next">&#10095;</button>
        <a style="float: left; font-size:5vw; padding: 0.5cm 0.6cm 0.5cm 0.4cm;" href="0" class="button button-large" data-toggle="tooltip" data-placement="left" title="Previous">&#10094;</a>
    </div>
</form>
<!-- Footer -->
<footer>
    <!-- F   <p>Free Web Template from <a href="https://zypopwebtemplates.com/">ZyPop</a>.</p>-->
</footer>