  <!-- Header -->
<header style="padding-bottom:0%;">
    <img src="/images/en_7.png" style="width:100%" class="desaturate" />
    <h1 style="font-size:1.5em; text-align:center;">Select a layout for your template</h1>
</header>

<!-- Main content area" -->
<main style="text-align:center">
    <!-- style="align-items:center; display:inline-block;"-->
    <img ng-click="firstTemplate()" src="../images/T4.jpg" alt="template 1" style=" margin-right: 1%; width:15vw; height:25vw; border-width:thick; border-style:{{Border1}}; border-color:{{c1}}" />
    <img ng-click="secondTemplate()" src="../images/T5.jpg" alt="template 2" style=" margin-right: 1%; width:15vw; height:25vw; border-width:thick; border-style:{{Border2}}; border-color:{{c2}};" />
    <img ng-click="thirdTemplate()" src="../images/T6.png" alt="template 3" style=" margin-right: 1%; width:15vw; height:25vw; border-width:thick; border-style:{{Border3}}; border-color:{{c3}};" />
    <p style="clear: both;">
</main>

<div style="display:inline; overflow: auto;
                white-space: nowrap; padding: 0px 0px;">
    <a style="float: left; font-size:5vw; padding: 0.5cm 0.5cm 0.5cm 0.5cm;"  href="8" class="button button-large" data-toggle="tooltip" data-placement="left" title="Previous">&#10094;</a>
</div>
<!-- Footer -->
<footer>
    <a style="float: right; font-size:25px; padding: 0.4cm 0.4cm 0.4cm 0.4cm; border-radius: 20%;" href="" class="button button-large" ng-click="goToTemplate()">Finish</a>
</footer>