  <!-- Header -->
<header style="padding-bottom:0%;">
    <img src="/images/ar_7.png" style="width:100%;" class="desaturate" />
    <h1 style="font-size:1.5em; font-family:'NeoSansArabic'; text-align:center; ">اختر تصميماً لموقعك</h1>
</header>

<!-- Main content area -->
<main style="text-align:center">
    <!-- style="align-items:center; display:inline-block;"-->
    <img ng-click="firstTemplate()" src="../images/T1.jpg" alt="template 1" style=" margin-right: 1%; width:15vw; height:25vw; border-width:thick; border-style:{{Border1}}; border-color:{{c1}}" />
    <img ng-click="secondTemplate()" src="../images/T2.jpg" alt="template 2" style=" margin-right: 1%; width:15vw; height:25vw; border-width:thick; border-style:{{Border2}}; border-color:{{c2}};" />
    <img ng-click="thirdTemplate()" src="../images/T3.jpg" alt="template 3" style=" margin-right: 1%; width:15vw; height:25vw; border-width:thick; border-style:{{Border3}}; border-color:{{c3}};" />
    <p style="clear: both;">
        <!--
           onclick="myFunction1()"
            onclick="myFunction2()"
    onclick="myFunction3()"
       <script>
           $(document).ready(function () {
               $(document.getElementById("T1")).click(function () {
                   $(document.getElementById("T1")).animate({
                       width: '200px'
                   }),
                   $(document.getElementById("T2")).animate({
                       width: '150px'
                   }),
                   $(document.getElementById("T3")).animate({
                       width: '150px'
                   });
               });
           });

           function myFunction2() {
               document.getElementById("T2").style.width = "200px";
               document.getElementById("T1").style.width = "150px";
               document.getElementById("T3").style.width = "150px";
           }
           function myFunction3() {
               document.getElementById("T3").style.width = "200px";
               document.getElementById("T2").style.width = "150px";
               document.getElementById("T1").style.width = "150px";
           }
       </script>-->
</main>
<div style="display:inline; overflow: auto;
                white-space: nowrap; padding: 0px 0px;">
    <a style="float: right; font-size:5vw; padding: 0.5cm 0.6cm 0.5cm 0.4cm;" href="8a" class="button button-large" data-toggle="tooltip" data-placement="left" title="السابق">&#10094;</a>
</div>
<!-- Footer -->
<footer>
    <a style="float: left; font-size:25px; padding: 0.35cm 0.4cm 0.4cm 0.4cm; border-radius: 20%;" href="" class="button button-large" ng-click="goToTemplate()">انهاء</a>
</footer>