  <!-- Header -->
<header style="padding-bottom:0%;">
    <h2 style="text-align: center; line-height: 0; font-size:35px;"><strong>Select a layout for your template</strong></h2>
</header>

<!-- Main content area" -->
<main style="text-align:center">
    <!-- style="align-items:center; display:inline-block;"-->
    <img ng-click="firstTemplate()" src="../images/T4.jpg" alt="template 1" style=" margin-right: 1%; width:15vw; height:25vw; border-width:thick; border-style:{{Border1}}; border-color:{{c1}}" />
    <img ng-click="secondTemplate()" src="../images/T5.jpg" alt="template 2" style=" margin-right: 1%; width:15vw; height:25vw; border-width:thick; border-style:{{Border2}}; border-color:{{c2}};" />
    <img ng-click="thirdTemplate()" src="../images/T6.png" alt="template 3" style=" margin-right: 1%; width:15vw; height:25vw; border-width:thick; border-style:{{Border3}}; border-color:{{c3}};" />
    <p style="clear: both;">
</main>

<div style="display:inline; overflow: auto;
                white-space: nowrap; padding: 0px 0px;">
    <a style="float: left; font-size:100px;  padding: 0cm 0.5cm 0.5cm 0.5cm; border-radius: 50%;" href="8" class="button button-large" data-toggle="tooltip" data-placement="left" title="Previous">&#8249;</a>
</div>
<br>
<!-- Footer -->
<footer>
    <br>
    <a style="float: right; font-size:25px; padding: 0.4cm 0.4cm 0.4cm 0.4cm; border-radius: 20%;" href="" class="button button-large" ng-click="goToTemplate()">Finish</a>
</footer>