  <!-- Header -->
<header style="padding-bottom:0%;">
    <h2 style="text-align: center; line-height: 0; font-size:35px;"><strong>Uplaod your store logo</strong></h2>
</header>

<!-- Main content area -->
<main style="text-align:center;">
    <form>
        <!-- this form for a logo to upload -->
        <input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">
    </form>
    <!-- to display logo -->
    <img style="width:150px; height:auto;" ng-src="{{imageSrc}}" />

    <div 
         ng-if="imageSrc"
         ng-init="getColors()">
    </div>
</main>

<div style="display:inline; overflow: auto;
                white-space: nowrap; padding: 0px 0px;">
    <a style="float: right; font-size:100px;  padding: 0cm 0.5cm 0.5cm 0.45cm; border-radius: 50%;" href="7" class="button button-large" data-toggle="tooltip" data-placement="right" title="Next" ng-click="sendLogo()">&#8250;</a>
    <a style="float: left; font-size:100px; padding: 0cm 0.5cm 0.5cm 0.45cm; border-radius: 50%;" href="3.2" class="button button-large" data-toggle="tooltip" data-placement="left" title="Previous">&#8249;</a>
</div>
<br>
<!-- Footer -->
<footer>
</footer>