  <!-- Header -->
<header style="padding-bottom:0%;">
    <img src="/images/ar_5.png" style="width:100%;" class="desaturate" />
    <h1 style="font-size:1.5em; font-family:'NeoSansArabic'; ">قم برفع شعار متجرك </h1>
</header>

<!-- Main content area -->
<main style="text-align:center;">
    <form>
        <!-- this form for a logo to upload -->
        <input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">
    </form>
    <!-- to display logo -->
    <img style="width:150px; height:auto;" ng-src="{{imageSrc}}" />

 <!--   <div ng-if="imageSrc && !NotImage && !BigImage"
         ng-init="getColors()">
    </div>-->
    <span ng-show="imageSrc && BigImage" style="float:right; font-size:x-small; color:darkred;">حجم الصورة يجب أن يكون واحد ميغا أو أقل</span>
    <span ng-show="imageSrc && NotImage" style="float:right; font-size:x-small; color:darkred;">.jpeg أو .png أو .jpg أو .gif يجب أن يكون الملف من نوع</span>

</main>

    <div style="display:inline; overflow: auto;
                    white-space: nowrap; padding: 0px 0px; margin-top:2%">
        <button ng-disabled="NotImage || !imageSrc || BigImage" style="float: left; font-size:5vw; padding: 0.5cm 0.5cm 0.5cm 0.5cm;" href="7a" class="button button-large" data-toggle="tooltip" data-placement="right" title="التالي" ng-click="sendLogo()">&#10095;</button>
        <a style="float: right; font-size:5vw; padding: 0.5cm 0.6cm 0.5cm 0.4cm;" href="3.2a" class="button button-large" data-toggle="tooltip" data-placement="left" title="السابق">&#10094;</a>
    </div>
    <br>
    <!-- Footer -->
    <footer>
        <br>
    </footer>
