  <!-- Header -->
<header style="padding-bottom:0%;">
    <h2 style="text-align: center; line-height: 0; font-size:35px;"><strong>اختر تصميماً لموقعك</strong></h2>
</header>

<!-- Main content area -->
<main style="text-align:center">
    <!-- style="align-items:center; display:inline-block;"-->
   <button style="margin-right: 1%; padding: 0px, 0px,0px,0px;" ng-click="firstTemplate()" onclick="myFunction1()"><img id="T1" src="../images/T1.png" alt="template 1" style="padding: 0px, 0px,0px,0px; margin: 0px, 0px,0px,0px; width: 150px; height:auto;  text-align: center;"></button>
   <button style="margin-right: 1%; padding: 0px, 0px,0px,0px;" ng-click="secondTemplate()" onclick="myFunction2()">  <img id="T2" src="../images/T2.png" alt="template 2" style="padding: 0px, 0px,0px,0px; margin: 0px, 0px,0px,0px; width: 150px; height:auto; text-align: center;"></button>
   <button style="margin-right: 1%; padding: 0px, 0px,0px,0px;" ng-click="thirdTemplate()" onclick="myFunction3()"> <img id="T3" src="../images/T2.png" alt="template 2" style="padding: 0px, 0px,0px,0px; margin: 0px, 0px,0px,0px; width: 150px; height:auto;  text-align: center;"></button>
   <p style="clear: both;">
       <script>
           function myFunction1() {
               document.getElementById("T1").style.borderBottom = "thick solid #000000";
           }
           function myFunction2() {
               document.getElementById("T2").style.borderBottom = "thick solid #000000";
           } function myFunction3() {
               document.getElementById("T3").style.borderBottom = "thick solid #000000";
           }
       </script>
</main>
<div style="display:inline; overflow: auto;
                white-space: nowrap; padding: 0px 0px;">
    <a style="float: right; font-size:100px;  padding: 0cm 0.5cm 0.5cm 0.45cm; border-radius: 50%;" href="8a" class="button button-large" data-toggle="tooltip" data-placement="left" title="السابق">&#8249;</a>
</div>
<br>
<!-- Footer -->
<footer>
    <br>
    <a style="float: left; font-size:25px; padding: 0.35cm 0.4cm 0.4cm 0.4cm; border-radius: 20%;" href="" class="button button-large" ng-click="goToTemplate()">انهاء</a>
</footer>