  <!-- Header -->
<header style="padding-bottom:0%;">
    <h2 style="text-align: center; line-height: 0; font-size:35px;"><strong>اختر تصميماً لموقعك</strong></h2>
</header>

<!-- Main content area -->
<main style="text-align:center">
    <!-- style="align-items:center; display:inline-block;"-->
    <img ng-click="firstTemplate()" src="../images/T1.png" alt="template 1" style=" margin-right: 1%; width: {{width1}}; height:auto;" />
    <img ng-click="secondTemplate()" src="../images/T2.png" alt="template 2" style=" margin-right: 1%; width: {{width2}}; height:auto;" />
    <img ng-click="thirdTemplate()" src="../images/T2.png" alt="template 2" style=" margin-right: 1%; width: {{width3}}; height:auto;" />
    <p style="clear: both;">
        <!--
           onclick="myFunction1()"
            onclick="myFunction2()"
    onclick="myFunction3()"
       <script>
           $(document).ready(function () {
               $(document.getElementById("T1")).click(function () {
                   $(document.getElementById("T1")).animate({
                       width: '200px'
                   }),
                   $(document.getElementById("T2")).animate({
                       width: '150px'
                   }),
                   $(document.getElementById("T3")).animate({
                       width: '150px'
                   });
               });
           });

           function myFunction2() {
               document.getElementById("T2").style.width = "200px";
               document.getElementById("T1").style.width = "150px";
               document.getElementById("T3").style.width = "150px";
           }
           function myFunction3() {
               document.getElementById("T3").style.width = "200px";
               document.getElementById("T2").style.width = "150px";
               document.getElementById("T1").style.width = "150px";
           }
       </script>-->
</main>
<div style="display:inline; overflow: auto;
                white-space: nowrap; padding: 0px 0px;">
    <a style="float: right; font-size:100px;  padding: 0cm 0.5cm 0.5cm 0.45cm; border-radius: 50%;" href="8a" class="button button-large" data-toggle="tooltip" data-placement="left" title="السابق">&#8249;</a>
</div>
<br>
<!-- Footer -->
<footer>
    <br>
    <a style="float: left; font-size:25px; padding: 0.35cm 0.4cm 0.4cm 0.4cm; border-radius: 20%;" href="" class="button button-large" ng-click="goToTemplate()">انهاء</a>
</footer>