 <!-- Header -->
<header style="padding-bottom:0%;">
    <h2 style="text-align: center; line-height: 0; font-size:35px;"><strong>معلومات المتجر</strong></h2>
</header>

<!-- Main content area -->
<form name="myform">
    <main>
        أين يقع مشروعك<br />
        <input type="text" name="myAddress" ng-model="Address" style="width:85%;" placeholder="  مثال: الرياض  " required />
        <span class="asterisk_input"></span>
        <span ng-show="myform.myAddress.$invalid"> هذا الحقل مطلوب  </span>
        <br />
        <!--   <div style="width:100%; display:inline; overflow: auto;white-space: nowrap; padding: 0px 0px;">-->
        ضع رابطا لمتجرك على مواقع التواصل الاجتماعي <br />
        <div style="text-align:left">
            <img src="../images/snapchat (2).png" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; width: 35px; height:auto;  text-align: center;" />
            <input type="text" ng-change="checkContent_snapchat()" ng-model="snapchatLink" style="margin-bottom:1vw; width:85%;" />
        </div>
        <div style="text-align:left">
            <img src="../images/twitter (2).png" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; width: 35px; height:auto;  text-align: center;" />
            <input type="text" ng-change="checkContent_twitter()" ng-model="twitterLink" style="margin-bottom:1vw; width:85%;" />
        </div>
        <div style="text-align:left">
            <img src="../images/facebook (2).png" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; width: 35px; height:auto;  text-align: center;" />
            <input type="text" ng-change="checkContent_facebook()" ng-model="facebookLink" style="margin-bottom:1vw; width:85%;" />
        </div>
        <div style="text-align:left">
           <img src="../images/insta.png" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; width: 35px; height:auto;  text-align: center;" />
           <input type="text" ng-change="checkContent_instagram()" ng-model="instagramLink" style="margin-bottom:1vw; width:85%;" />
        </div>

            <!-- <a style="font-size:50px;  padding: 0.3cm 0.3cm 0.25cm 0.3cm; border-radius: 50%;" ng-click="addNewLink()" class="button button-large" data-placement="left" title="اضف رابط اخر">&#43;</a>
            <div id="choicesDisplay">
            </div>
        </div>-->
    </main>
    <br />
    <div style="display:inline; overflow: auto;white-space: nowrap; padding: 0px 0px;">
        <button ng-disabled="myform.myAddress.$invalid" style="float: left; font-size:100px;  padding: 0cm 0.5cm 0.5cm 0.45cm; border-radius: 50%;" class="button button-large" ng-click="sendData()" data-toggle="tooltip" data-placement="right" title="التالي">&#8250;</button>
        <a style="float: right; font-size:100px; padding: 0cm 0.5cm 0.5cm 0.45cm; border-radius: 50%;" href="3.1a" class="button button-large" data-toggle="tooltip" data-placement="left" title="السابق">&#8249;</a>
    </div>
</form>
<br/>
<!-- Footer -->
<footer>
</footer>