<h2 style="margin-left:2vw;">{{tabHeader}}</h2>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <br />

            <div class="row">
                <div class="input-group">

                    <input type="color" class="rounded" ng-model="color1" ng-change="UpdateColors()" style="
  margin-left:2vw;
  margin-right:1vw;
  padding: 0;
  border: none;
  -webkit-border-radius: 50%;
  width: 4vw;
  height: 4vw;
  background-color:transparent;">
                    <input type="color" class="rounded" ng-model="color2" ng-change="UpdateColors()" style="
      margin-right:1vw;
      padding: 0;
      border: none;
      -webkit-border-radius: 50%;
      width: 4vw;
      height: 4vw;
      background-color:transparent;">
                    <input type="color" class="rounded" ng-model="color3" ng-change="UpdateColors()" style="
    margin-right:1vw;
    padding: 0;
    border: none;
    -webkit-border-radius: 50%;
    width: 4vw;
    height: 4vw;
    background-color:transparent;">
                    <input type="color" class="rounded" ng-model="color4" ng-change="UpdateColors()" style="
    margin-right:1vw;
    padding: 0;
    border: none;
    -webkit-border-radius: 50%;
    width: 4vw;
    height: 4vw;
    background-color:transparent;">
                    <!--<span class="input-group-btn">
                   <button class="btn btn-default" ng-click="UpdateColors()" type="submit">Update</button>
               </span>
            <div ng-if="refreshMyColors"
                    ng-init="refreshColors()"></div>-->
                </div>
            </div> <br />
            <div class="row">
                <h4>change Logo</h4>
                <div class="input-group">
                    <input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc" style="width:100%;" /> <!-- custom-on-change="uploadFile($event)"-->
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="getColors(); UpdateLogo()" type="submit">Update</button>
                    </span>
                </div>
            </div>
            <br />
            <div class="row">
                <h4>change cover image</h4>
                <div class="input-group">
                    <input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc_slider" style="width:100%;" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="UpdateSlider()" type="submit">Update</button>
                    </span>
                </div>
            </div>
            <div class="row">
                <h4>change About image</h4>
                <div class="input-group">
                    <input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc_about" style="width:100%;" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="UpdateAboutImage()" type="submit">Update</button>
                    </span>
                </div>
            </div>
            <br />
            <div class="row">
                <select id="" class="form-control" ng-model="selectedTextType" ng-change="updateText()" data-live-search="true" ng-options="x.name for x in TextType">
                    <!--  <option value="" selected>Update Text</option>--disabled-->

                </select>
                <div class="input-group">
                    <!--ng-show="selectedTextType.name!='Store Description'" -->
                    <input type="text" class="form-control" ng-model="ShopOwnerText" placeholder="Write new text ...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="UpdateStoreInfo()" type="submit">Update</button>
                    </span>

                </div>
                <div ng-show="loading" style="float:right" layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate"  md-diameter="20px"></md-progress-circular>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon ">
                        <!--   <input ng-model="checkInstagram" type="checkbox" aria-label=""> ng-disabled="!checkInstagram"-->
                        <img src="../images/instagram.png" style="width:1.5vw;" />
                    </span>
                    <input type="text" ng-model="myInstagramLink" class="form-control" placeholder="paste Instagram link here ..." aria-label="...">

                </div><!-- /input-group -->

                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <!--<input type="checkbox" aria-label="...">-->
                        <img src="../images/twitter (2).png" style="width:1.5vw;" />

                    </span>
                    <input type="text" ng-model="myTwitterLink" class="form-control" placeholder="paste Twitter link here ..." aria-label="...">

                </div><!-- /input-group -->
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <!--   <input type="checkbox" aria-label="..."> ng-disabled="!checkSnapchat" -->
                        <img src="../images/snapchat (2).png" style="width:1.5vw;" />
                    </span>
                    <input type="text" ng-model="mySnapchatLink" class="form-control" placeholder="paste Snapchat link here ..." aria-label="...">
                </div><!-- /input-group -->
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <!--<input type="checkbox" aria-label="..."> ng-disabled="!checkFacebook" -->
                        <img src="../images/facebook (3).png" style="width:1.5vw;" />
                    </span>
                    <input type="text" ng-model="myFacebookLink" class="form-control" placeholder="paste Facebook link here ..." aria-label="...">

                </div><!-- /input-group -->
                <button style="float:right;" class="btn btn-default" ng-click="UpdateLinks()" type="submit">Update</button>
                <p style="font-size:x-small; color:firebrick;"> Note: your links must be valid </p>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <md-switch ng-model="section.slider" class="md-primary" ng-change="ShowHideSection('Slider')" aria-label="SliderSection">
                        Cover
                    </md-switch>
                </div>
                <div class="col-sm-6">
                    <md-switch ng-model="section.about" class="md-primary" ng-change="ShowHideSection('About')" aria-label="AboutSection">
                        About
                    </md-switch>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <md-switch ng-model="icon.snapchat" ng-disabled="disableSnapchat" ng-change="ShowHideIcon('Snapchat')" class="md-primary" aria-label="Snapchat">
                        Snapchat
                    </md-switch>
                </div>
                <div class="col-sm-6">
                    <md-switch ng-model="icon.facebook" ng-disabled="disableFacebook" class="md-primary" ng-change="ShowHideIcon('Facebook')" aria-label="Facebook">
                        Facebook
                    </md-switch>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <md-switch ng-model="icon.twitter" ng-disabled="disableTwitter" ng-change="ShowHideIcon('Twitter')" class="md-primary" aria-label="Twitter">
                        Twitter
                    </md-switch>
                </div>
                <div class="col-sm-6">
                    <md-switch ng-model="icon.instagram" ng-disabled="disableInstagram" ng-change="ShowHideIcon('Instagram')" class="md-primary" aria-label="Instagram">
                        instagram
                    </md-switch>
                </div>
            </div>
            <br />
        </div>
        <div class="col-sm-8 col-md-8">
            <div class="embed-responsive embed-responsive-4by3" style="margin-left:4vw; width:57vw; height: 60vw;">
                <iframe refreshable="tab.refresh" id="TemplateIframe" class="embed-responsive-item " ng-src="{{template}}" allowfullscreen></iframe>
                <!--style="overflow: hidden; height: 200%; width: 100%;"-->
            </div>
        </div>
    </div>
</div>
<!--
            <div class="col-sm-8 col-md-8">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe style="padding-left:5px;" refreshable="tab.refresh" id="TemplateIframe" class="embed-responsive-item " ng-src="{{template}}" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
    </div>
    -->
