<h2>{{tabHeader}}</h2> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <br />
            <div class="row">
                <div class="input-group">

                    <input type="color" class="rounded" ng-model="color1" style="
  margin-right:1vw;
  padding: 0;
  border: none;
  -webkit-border-radius: 50%;
  width: 4vw;
  height: 4vw;
  background-color:transparent;">
                    <input type="color" class="rounded" ng-model="color2" style="
      margin-right:1vw;
      padding: 0;
      border: none;
      -webkit-border-radius: 50%;
      width: 4vw;
      height: 4vw;
      background-color:transparent;">
                    <input type="color" class="rounded" ng-model="color3" style="
    margin-right:1vw;
    padding: 0;
    border: none;
    -webkit-border-radius: 50%;
    width: 4vw;
    height: 4vw;
    background-color:transparent;">
                    <input type="color" class="rounded" ng-model="color4" style="
    margin-right:1vw;
    padding: 0;
    border: none;
    -webkit-border-radius: 50%;
    width: 4vw;
    height: 4vw;
    background-color:transparent;">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="UpdateColors()" type="submit">Update</button>
                    </span>
                    <div ng-if="refreshMyColors"
                         ng-init="refreshColors()">
                    </div>
                </div>
            </div> <br />
            <div class="row">
                <h4>change Logo</h4>
                <div class="input-group">
                    <input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="UpdateLogo()" type="submit">Update</button>
                    </span>
                    <div ng-if="imageSrc"
                         ng-init="getColors()">
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <h4>change cover image</h4>
                <div class="input-group">
                    <input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc_slider">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="UpdateSlider()" type="submit">Update</button>
                    </span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="input-group">
                    <button class="btn btn-default" ng-click="" type="submit">Show Cover Image</button>
                    <button class="btn btn-default" ng-click="" type="submit">Hide Cover Image</button>
                </div>
            </div>
            <br />
            <div class="row">
                <select id="" class="form-control" ng-model="selectedTextType" ng-change="updateText()" data-live-search="true" ng-options="x.name for x in TextType">
                    <!--  <option value="" selected>Update Text</option>--disabled-->

                </select>
                <div class="input-group">
                    <!--ng-show="selectedTextType.name!='Store Description'" -->
                    <input type="text" class="form-control" ng-model="ShopOwnerText" placeholder="Write new text ...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="UpdateStoreInfo()" type="submit">Update</button>
                    </span>
                </div>
                <!--
        <div ng-show="selectedTextType.name==='Store Description'" >
            <textarea style="resize: vertical;" class="form-control" ng-model="ShopOwnerText" rows="3" ></textarea>
                <button class="btn btn-default" ng-click="UpdateStoreInfo()" type="submit">Update</button>

        </div>-->
            </div>
            <br />
            <div class="row">
                <div class="input-group">
                    <button class="btn btn-default" ng-click="" type="submit">Show Footer Section</button>
                    <button class="btn btn-default" ng-click="" type="submit">Hide Footer Section</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon ">
                        <!--   <input ng-model="checkInstagram" type="checkbox" aria-label=""> ng-disabled="!checkInstagram"-->
                        <img src="../images/instagram.png" style="width:1.5vw;" />
                    </span>
                    <input type="text" ng-change="checkContent_instagram()" ng-model="myInstagramLink" class="form-control" placeholder="paste Instagram link here ..." aria-label="...">

                </div><!-- /input-group -->

                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <!--<input type="checkbox" aria-label="...">-->
                        <img src="../images/twitter (2).png" style="width:1.5vw;" />

                    </span>
                    <input type="text" ng-change="checkContent_twitter()" ng-model="myTwitterLink" class="form-control" placeholder="paste Twitter link here ..." aria-label="...">

                </div><!-- /input-group -->
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <!--   <input type="checkbox" aria-label="..."> ng-disabled="!checkSnapchat" -->
                        <img src="../images/snapchat (2).png" style="width:1.5vw;" />
                    </span>
                    <input type="text" ng-change="checkContent_snapchat()" ng-model="mySnapchatLink" class="form-control" placeholder="paste Snapchat link here ..." aria-label="...">
                </div><!-- /input-group -->
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <!--<input type="checkbox" aria-label="..."> ng-disabled="!checkFacebook" -->
                        <img src="../images/facebook (3).png" style="width:1.5vw;" />
                    </span>
                    <input type="text" ng-change="checkContent_facebook()" ng-model="myFacebookLink" class="form-control" placeholder="paste Facebook link here ..." aria-label="...">

                </div><!-- /input-group -->
                <button style="float:right;" class="btn btn-default" ng-click="UpdateLinks()" type="submit">Update</button>
                <p style="font-size:x-small; color:red;"> * your links must be valid </p>
            </div>
            <br />
            <div class="row">
                <div class="input-group">
                    <button class="btn btn-default" ng-click="" type="submit">Show Instagram Icon</button>
                    <button class="btn btn-default" ng-click="" type="submit">Hide Instagram Icon</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="input-group">
                    <button class="btn btn-default" ng-click="" type="submit">Show Twitter Icon</button>
                    <button class="btn btn-default" ng-click="" type="submit">Hide Twitter Icon</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="input-group">
                    <button class="btn btn-default" ng-click="" type="submit">Show Snapchat Icon</button>
                    <button class="btn btn-default" ng-click="" type="submit">Hide Snapchat Icon</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="input-group">
                    <button class="btn btn-default" ng-click="" type="submit">Show Facebook Icon</button>
                    <button class="btn btn-default" ng-click="" type="submit">Hide Facebook Icon</button>
                </div>
            </div>
            <br />
            <!--
    <div class="col-md-6">
        <input type="text" name="Storename" ng-model="Store.name" placeholder="Update Store Name" required>
    </div>
    <div class="col-md-6">
        <button ng-click="refreshIframe()">Click here</button>
    </div>-->
        </div>
            <div class="col-sm-8 col-md-8">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe refreshable="tab.refresh" id="TemplateIframe" class="embed-responsive-item " ng-src="{{template}}" allowfullscreen></iframe>
                    <!--style="overflow: hidden; height: 200%; width: 100%;"-->
                </div>
            </div>
        </div>
</div>
