<h2>{{tabHeader}}</h2>

<form name="myForm" ng-model="checkboxPayment" ng-init="checkedPayment()">
    <label>
        Cash:
        <input type="checkbox" ng-model="checkboxPayment.cash" ng-change="acceptPayment()">
    </label><br />
    <label>
        PayPal:
        <input type="checkbox" ng-model="checkboxPayment.paypal" ng-change="acceptPayment()">
    </label><br />
    <label>
        Bank Transfer:
        <input type="checkbox" ng-model="checkboxPayment.bankTransfer" aria-label="Toggle ngShow" ng-change="acceptPayment()">
    </label><br />
</form>

<form class="check-element animate-show-hide" ng-show="checkboxPayment.bankTransfer" ng-model="bankInfo" ng-init="GetBankInfo()">
    <div class="form-group">
        <label for="IBAN">IBAN</label>
        <input type="text" class="form-control" ng-model="bankInfo.IBAN" id="IBAN" placeholder="Enter IBAN" required>
    </div>
    <button type="submit" ng-click="UpdateBankInfo()" class="btn btn-primary">Update</button>
</form>