<h2>{{tabHeader}}</h2>

<form name="myForm"  ng-model="checkboxPayment" ng-init="checkedPayment()" >
    <label>
        Cash:
        <input type="checkbox" ng-model="checkboxPayment.cash" ng-change="acceptPayment()" >
    </label><br />
    <label>
        PayPal:
        <input type="checkbox" ng-model="checkboxPayment.paypal" ng-change="acceptPayment()">
    </label><br />
    <label>
        Bank Transfer:
        <input type="checkbox" ng-model="checkboxPayment.bankTransfer" ng-change="acceptPayment()">
    </label><br />
    <tt>cash = {{checkboxPayment.cash}}</tt><br />
    <tt>paypal = {{checkboxPayment.paypal}}</tt><br />
    <tt>bankTransfer = {{checkboxPayment.bankTransfer}}</tt><br />

</form>