<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<body style="margin-left:9vw;">
    <h2>{{tabHeader}}</h2>
    <div ng-init="DesktopView()"></div>
    <!--<div class="container">
        <div class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="font-family:'NeoSansArabic'">
                معاينة الموقع<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li style="background:none; font-family:'NeoSansArabic'"><a href="" ng-click="DesktopView()">معاينة على الحاسب &nbsp; <img ng-src="/images/imac.png" alt="" style="width:37px; height:37px;" /></a></li>
                <li style="background:none; font-family:'NeoSansArabic'"><a href="" ng-click="MobileView()">معاينة على الجوال &nbsp; <img ng-src="/images/iphone.png" alt="" style="width:37px; height:37px;" /></a></li>
            </ul>
            
        </div>
    </div>-->
</body>