<!DOCTYPE html>
<html lang="en">
<head>
    <title>BS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="../Controllers/BS-Menu.js"></script>
    <style>
        img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body ng-app="BS">
    <div class="container">
        <!--BS menu-->
        <div class="row">
          <!--  <img ng-src="" alt="BS Logo" width="150" height="150"/>-->
            <div class="col-sm-11">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="/DevelopmentEnvironment"><img src="" alt="BS Logo" width="200" height="200" /></a></li>
                    <li><a href="/ManageStore">Manage Store</a></li>
                    <li><a href="/BS-MenuTabs/DevelopmentEnvironment">Development Environment</a></li>
                    <li><a href="/PreviewWebsite">Preview Website</a></li>
                    <li><a href="/Template">Template</a></li>
                    <li><a href="/Products">Products</a></li>
                </ul>
            </div>
            <div class="col-sm-1">
                <img src="" alt="setting" width="10" height="10" />
            </div>
        </div>
        <!--/BS menu-->
        <br />
        <br />
        <br />
        <div class="row">
            <!--left menu-->
            <div class="col-sm-3"  style="background-color:lavender;height:600px;"><!-- style for style="background-color and height-->
                
            </div>
            <!--/left menu-->
            <!--Content-->
            <div class="col-sm-8" >
                <ng-view></ng-view>
            </div>
            <!--/Content-->
        </div>
    </div>

</body>
</html>
